<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <ul class="nav nav-pills">
                <li role="presentation"><a href="#/forms">Forms</a></li>
                <li role="presentation" class="active"><a>Fields</a></li>
            </ul>
            <br>
            <h1 class="page-header"> Forms </h1>
            <form>
                <div class="row">
                <div class="form-group col-xs-6">
                    <label for="fname1">First Name:</label>
                    <input type="text" class="form-control" id="fname1" placeholder="First Name">
                </div>
                <div class=" col-xs-6"><br>
                    <a href="#"><span class="glyphicon glyphicon-pencil" style="font-size: 23px" aria-hidden="true"></span></a>
                    <a href="#"> <span class="glyphicon glyphicon-remove" style="font-size: 25px; color: #d9534f" aria-hidden="true"></span></a>
                    <a href="#"> <span class="glyphicon glyphicon-plus" style="font-size: 23px" aria-hidden="true"></span></a>
                    <a href="#"> <span class="glyphicon glyphicon-align-justify" style="font-size: 23px" aria-hidden="true"></span></a>
                </div>
                    </div>
                <div class="row">
                <div class="form-group col-xs-6">
                    <label for="lname1">Last Name:</label>
                    <input type="text" class="form-control" id="lname1" placeholder="Last Name">
                </div>
                    <div class="col-xs-6"><br>
                        <a href="#"><span class="glyphicon glyphicon-pencil" style="font-size: 23px" aria-hidden="true"></span></a>
                        <a href="#"> <span class="glyphicon glyphicon-remove" style="font-size: 25px; color: #d9534f" aria-hidden="true"></span></a>
                        <a href="#"> <span class="glyphicon glyphicon-plus" style="font-size: 23px" aria-hidden="true"></span></a>
                        <a href="#"> <span class="glyphicon glyphicon-align-justify" style="font-size: 23px" aria-hidden="true"></span></a>
                    </div>
                </div>
                <div class="row">
                <div class="form-group col-xs-6">
                    <label for="dob">Date Of Birth:</label>
                    <input type="date" class="form-control" id="dob">
                </div>
                    <div class="col-xs-6"><br>
                        <a href="#"><span class="glyphicon glyphicon-pencil" style="font-size: 23px" aria-hidden="true"></span></a>
                        <a href="#"> <span class="glyphicon glyphicon-remove" style="font-size: 25px; color: #d9534f" aria-hidden="true"></span></a>
                        <a href="#"> <span class="glyphicon glyphicon-plus" style="font-size: 23px" aria-hidden="true"></span></a>
                        <a href="#"> <span class="glyphicon glyphicon-align-justify" style="font-size: 23px" aria-hidden="true"></span></a>
                    </div>
                </div>
                <div class="row">
                <div class="form-group col-xs-6">
                    <label for="gen">Gender:</label>
                    <select class="form-control" id="gen">
                        <option>Male</option>
                        <option>Female</option>
                    </select>
                </div>
                    <div class="col-xs-6"><br>
                        <a href="#"><span class="glyphicon glyphicon-pencil" style="font-size: 23px" aria-hidden="true"></span></a>
                        <a href="#"> <span class="glyphicon glyphicon-remove" style="font-size: 25px; color: #d9534f" aria-hidden="true"></span></a>
                        <a href="#"> <span class="glyphicon glyphicon-plus" style="font-size: 23px" aria-hidden="true"></span></a>
                        <a href="#"> <span class="glyphicon glyphicon-align-justify" style="font-size: 23px" aria-hidden="true"></span></a>
                    </div>
                </div>
                <div class="row">
                <div class="col-xs-6">
            <label>Roles:</label>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="">
                    Admin
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="">
                    Student
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="">
                    User
                </label>
            </div>
                </div>
                    <div class="col-xs-6"><br>
                        <a href="#"><span class="glyphicon glyphicon-pencil" style="font-size: 23px" aria-hidden="true"></span></a>
                        <a href="#"> <span class="glyphicon glyphicon-remove" style="font-size: 25px; color: #d9534f" aria-hidden="true"></span></a>
                        <a href="#"> <span class="glyphicon glyphicon-plus" style="font-size: 23px" aria-hidden="true"></span></a>
                        <a href="#"> <span class="glyphicon glyphicon-align-justify" style="font-size: 23px" aria-hidden="true"></span></a>
                    </div>
                </div>
            <div class="row">
                <div class="col-xs-6">
            <label class="">License Agreement:</label>
            <div class="radio">
                <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                    Yes
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                    No
                </label>
            </div>
                    </div>
                    <div class="col-xs-6"><br>
                        <a href="#"><span class="glyphicon glyphicon-pencil" style="font-size: 23px" aria-hidden="true"></span></a>
                        <a href="#"> <span class="glyphicon glyphicon-remove" style="font-size: 25px; color: #d9534f" aria-hidden="true"></span></a>
                        <a href="#"> <span class="glyphicon glyphicon-plus" style="font-size: 23px" aria-hidden="true"></span></a>
                        <a href="#"> <span class="glyphicon glyphicon-align-justify" style="font-size: 23px" aria-hidden="true"></span></a>
                    </div>
                </div>
            </form>
            <hr>
            <div class="row">
                <div class="form-group col-xs-6">
                    <label for="gen1">Add New Field:</label>
                    <select class="form-control" id="gen1">
                        <option>Single Line Text</option>
                        <option>Date</option>
                        <option>Dropdown</option>
                        <option>Checkboxes</option>
                        <option>Radio-buttons</option>
                        <option>Paragraph Text Field</option>
                    </select>
                </div>
                <div class="col-xs-6"><br>
                    <a href="#"> <span class="glyphicon glyphicon-plus" style="font-size: 25px ; color: #5cb85c" aria-hidden="true"></span></a>
            </div>
        </div>
    </div>
