
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <ul class="nav nav-pills">
                <li role="presentation" class="active"><a href="#">Forms</a></li>
                <li role="presentation"><a href="fields.view.html">Fields</a></li>
            </ul>
            <br>
            <h1 class="page-header"> Forms </h1>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th> <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span> Form Name </th>
                    <th> <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span> Action </th>
                </tr>
                <tr>
                    <th> <input type="text" class="form-control" placeholder="Form Name"> </th>
                    <th> <a href="#"><span class="glyphicon glyphicon-plus" style="font-size: 25px" aria-hidden="true"></span></a>&nbsp; &nbsp;
                        <a href="#"><span class="glyphicon glyphicon-ok" style="font-size: 25px; color: #5cb85c" aria-hidden="true"></span></a> </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><a href="fields.view.html"> Registration Form</a></td>
                    <td><a href="#"> <span class="glyphicon glyphicon-remove" style="font-size: 25px; color: #d9534f" aria-hidden="true"></span></a>&nbsp; &nbsp;
                        <a href="#"><span class="glyphicon glyphicon-pencil" style="font-size: 25px" aria-hidden="true"></span></a> </td>
                </tr>
                <tr>
                    <td> <a href="fields.view.html"> Contact List</a></td>
                    <td> <a href="#"> <span class="glyphicon glyphicon-remove" style="font-size: 25px; color: #d9534f" aria-hidden="true"></span></a>&nbsp; &nbsp;
                        <a href="#"><span class="glyphicon glyphicon-pencil" style="font-size: 25px" aria-hidden="true"></span></a></td>
                </tr>
                <tr>
                    <td><a href="fields.view.html"> To Do List</a></td>
                    <td><a href="#"> <span class="glyphicon glyphicon-remove" style="font-size: 25px; color: #d9534f" aria-hidden="true"></span></a>&nbsp; &nbsp;
                        <a href="#"><span class="glyphicon glyphicon-pencil" style="font-size: 25px" aria-hidden="true"></span></a> </td>
                </tr>
                </tbody>
            </table>


        </div>
